* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html,
body {
    height: 90vh;
}

body {
    color: white;
    font-family: 'Quicksand',
        sans-serif;
    text-align: center;
    background-size: cover;
    background: no-repeat center center fixed;
}

body {
    @supports (-webkit-appearance:none) {
        .os-android & {
            min-height: calc(100vh - 56px);
        }
    }
}

.timecontainer,
.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.timecontainer {
    position: fixed;
    left: 4vw;
    bottom: 4vw;
}

.content {
    color: rgb(0, 0, 0);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    margin: 0 10px;
    max-width: 500px;
}

.margins {
    margin: 10px;
}

#time {
    font-size: 3rem;
    width: inherit;
}

#day {
    font-size: 1.5rem;
    width: inherit;
}

#settings {
    height: 2rem;
    width: 2rem;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    border: none;
    border-radius: 0.3rem;
    outline: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    background: rgba(255, 255, 255, 0.5);
    position: absolute;
    bottom: 4vw;
    right: 4vw;
    cursor: pointer;
}

#settings svg:hover {
    animation: swoosh 0.3s ease;
}

@keyframes swoosh {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(180deg);
    }
}

#settings svg {
    height: 2rem;
    width: 2rem;
    position: absolute;
    top: 0;
    left: 0;
}

/* POP UP CSS */

.popup {
    height: auto;
    min-width: 20rem;
    position: absolute;
    left: 50%;
    top: -50vh;
    margin: 0 -10rem 0 -10rem;
    background: #fff;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(50, 50, 50, 0.3);
    transition: top 0.3s ease;
}

.inview {
    top: 4vh;
    transition: top 0.3s ease;
}

.popup__close {
    height: 1rem;
    width: 1rem;
    position: absolute;
    top: 1rem;
    right: 1rem;
    cursor: pointer;
}

.popup__close svg {
    height: 1rem;
    width: 1rem;
}

.popup__title {
    color: black;
    position: absolute;
    left: 1rem;
    top: 1rem;
    font-family: 'Open Sans', 'Quicksand', sans-serif;
    font-size: 1rem;
}

.close {
    display: none;
    transition: 0.3s ease-in;
}

.flex {
    display: flex;
    transition: 0.3s ease-in;
}

.popup__timeformat {
    display: flex;
    flex-direction: row;
    line-height: 1;
    margin-top: 2rem;
}

span#popup__timeformat__text,
span#popup__AmPm__text {
    flex: 10;
    color: black;
    text-align: left;
    text-indent: 1rem;
}

#popup__timeformat__switch {
    flex: 1;
    float: right;
}

.popup__AmPm {
    flex-direction: row;
    line-height: 1;
    margin-top: 1rem;
}


#popup__AmPm__switch {
    flex: 1;
    float: right;
}

/* To Do list CSS */
#todo {
    background-color: none;
    border-radius: 10px;
    width: calc(100% - 20px);
    display: flex;
    height: 30px;
}

#todo input {
    flex: 7;
    background-color: rgba(255, 255, 255, 0.5);
    border: none;
    outline: none;
    box-shadow: none;
    text-indent: 15px;
    border-radius: 10px;
    color: black;
    font-family: 'Quicksand', sans-serif;
    font-size: 1rem;
}

#todo input::placeholder {
    color: black;
    font-family: 'Quicksand', sans-serif;
}

#todo button {
    flex: 1;
    margin-left: 10px;
    height: 30px;
    border: none;
    outline: none;
    box-shadow: none;
    background-color: rgba(0, 108, 255, .7);
    border-radius: 10px;
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
    padding: .3rem;
}

.filldone {
    fill: rgba(0, 108, 255, 1);
    transition: 0.2s fill ease;
}

.fillremove {
    fill: #c0cecb;
    transition: 0.2s fill ease;
}

/* Incomplete List Boxes */

#incomplete {
    width: calc(100% - 20px);
}

#incomplete ul {
    list-style-type: none;
}

#incomplete ul:empty {
    margin: 0 0 10px 0;
}

#incomplete ul:empty::after {
    content: 'Nothing to do!';
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
}

#incomplete ul li {
    background-color: white;
    border-radius: 10px;
    margin-bottom: 5px;
    min-height: 30px;
    width: 100%;
    line-height: 30px;
    padding-left: 10px;
    font-size: 1rem;
    position: relative;
    text-align: left;
    padding-right: 65px;
    word-break: break-word;
}

#incomplete li:last-child {
    margin-bottom: 10px;
}

#incomplete li .buttons {
    height: 30px;
    width: 65px;
    position: absolute;
    right: 0;
    top: 0;
}

#incomplete li .buttons button {
    height: inherit;
    width: 30px;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    border: none;
    outline: none;
    box-shadow: none;
    background: none;
    position: relative;
    cursor: pointer;
}

#incomplete li .buttons button:last-of-type::before {
    content: '';
    width: 1px;
    height: 20px;
    background-color: rgba(66, 66, 66, 0.5);
    position: absolute;
    top: 5px;
    left: -3px;
}

#incomplete li .buttons button svg {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -10px 0 0 -10px;
}

#incomplete li .buttons button.remove svg:hover .fillremove {
    fill: #e85656;
}

#incomplete li .buttons button.done svg {
    border-radius: 10px;
    border: 1.5px solid rgba(0, 108, 255, 1);
}

#incomplete li .buttons button.done:hover svg .filldone {
    fill: #fff;
}

#incomplete li .buttons button.done svg {
    background-color: none;
}

#incomplete li .buttons button.done:hover svg {
    background-color: rgba(0, 108, 255, 1);
}

/* Complete List Boxes */

#complete {
    width: calc(100% - 20px);
}

#complete ul {
    list-style-type: none;
    position: relative;
}

#complete ul:empty {
    margin: 0;
}

#complete ul:empty::after {
    content: "Yet to complete something!";
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
}

#complete:not(:empty) {
    opacity: 0.7;
}

#complete ul::before {
    content: '';
    width: 150px;
    height: 1px;
    position: absolute;
    left: 50%;
    margin: -15px 0 0 -75px;
    background-color: rgba(66, 66, 66, 0.5);
}

#complete ul li {
    background-color: white;
    border-radius: 10px;
    margin-bottom: 5px;
    min-height: 30px;
    width: 100%;
    line-height: 30px;
    padding-left: 10px;
    font-size: 1rem;
    position: relative;
    text-align: left;
    padding-right: 65px;
    word-break: break-word;
}

#complete li:last-child {
    margin-bottom: 0;
}

#complete li .buttons {
    height: 30px;
    width: 65px;
    position: absolute;
    right: 0;
    top: 0;
}

#complete li .buttons button {
    height: inherit;
    width: 30px;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    border: none;
    outline: none;
    box-shadow: none;
    background: none;
    cursor: pointer;
}

#complete li .buttons button:last-of-type::before {
    content: '';
    width: 1px;
    height: 20px;
    background-color: rgba(66, 66, 66, 0.5);
    position: absolute;
    top: 5px;
    left: 32px;
}

#complete li .buttons button svg {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 50%;
    margin: -10px 0 0 -10px;
}

#complete li .buttons button.remove svg:hover .fillremove {
    fill: #e85656;
}

#complete li .buttons button.done svg {
    border-radius: 10px;
    border: 1.5px solid rgba(0, 108, 255, 1);
}

#complete li .buttons button.done svg .filldone {
    fill: #fff;
}

#complete li .buttons button.done svg {
    background: rgba(0, 108, 255, 1);
}

/* Responsivenes */

@media(max-width:865px) {

    .timecontainer,
    .content {
        display: block;
        position: unset;
        transform: none;
    }

    .timecontainer {
        margin-bottom: 10px;
    }

    body {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #time {
        font-size: 4rem;
    }

    #complete ul::before {
        margin: -5px 0 0 -75px;
    }
}

@media(max-width:427px) {
    #time {
        font-size: 3rem;
    }

    .margins {
        font-size: 1.3rem;
    }
}

@media(max-width:375px) {
    #day {
        font-size: 1rem;
    }

    .margins {
        font-size: 1rem;
    }
}